<% @beers.each do |beer| %>
	<p>
	<strong>Name: </strong><%= beer.name %>
	<strong>Brewer: </strong><%= beer.brewer %>
	<strong>Type: </strong><%= beer.beer_type %>
	<strong>ABV: </strong><%= beer.abv %>

	</p>
<% end %>
